<mat-tab-group>
  <mat-tab label="otherTechnicalStuff - Typ - technicalStuff">
    <ng-template matTabContent>
      <app-otherTechnicalStuffs-list></app-otherTechnicalStuffs-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Predajne">
    <ng-template matTabContent>
      <app-stores-management></app-stores-management>
    </ng-template>
  </mat-tab>
  <mat-tab label="Zamestnanci">
    <ng-template matTabContent>
      <app-employees-management></app-employees-management>
    </ng-template>
  </mat-tab>
</mat-tab-group>